:root {
  --cc-body-background: #333;
  --cc-card-colour: #23282D;
  --cc-custom-links-border: #fff;
  --cc-header-border: #fff;
  --cc-link-colour: #76b2ff;
  --cc-link-colour-hover: #9ecbfb;
  --cc-topic-highlights: #333;
  --cc-topic-highlights-border: #607c98;
  --cc-moderator-highlight: #141c3a;
  --primary-low: #444;
  --primary-medium: #ccc;
  --primary-high: #ddd;
  --primary-med-or-secondary-high: #ccc;
  --tertiary: #76b2ff;
  --tertiary-low: #4875b0;
  --tertiary-medium: #007572;
  --tertiary-hover: #3a8ffc;
  --quaternary: #76b2ff;
  --quaternary-low: #525457;
  --danger-low-mid: rgb(141 49 50 / 70%);
  --highlight-medium: #262626;
  --wiki: var(--success);
}
