:root {
  --cc-body-background: #333;
  --cc-card-colour: #23282D;
  --cc-custom-links-border: #fff;
  --cc-header-border: #fff;
  --cc-link-colour: #d7fffe;
  --cc-link-colour-hover: #accccb;
  --cc-topic-highlights: #333;
  --cc-topic-highlights-border: #607c98;
  --cc-moderator-highlight: #141c3a;
  --primary-low: #444;
  --primary-medium: #ccc;
  --primary-high: #ddd;
  --primary-med-or-secondary-high: #ccc;
  --tertiary-low: #007572;
  --tertiary-medium: #007572;
  --tertiary-hover: #007572;
  --danger-hover: #f95a5c;
  --danger-low-mid: rgb(141 49 50 / 70%);
  --highlight-medium: #262626;
  --wiki: var(--success);
}
