:root {
  --cc-body-background: #333;
  --cc-card-colour: #23282D;
  --cc-custom-links-border: #fff;
  --cc-footer-link-colour-hover: #8ec3f9;
  --cc-header-border: #fff;
  --cc-link-colour: #8ec3f9;
  --cc-link-colour-hover: #d7fffe;
  --cc-link-colour-banner: #d7fffe;
  --cc-topic-highlights: #333;
  --cc-topic-highlights-border: #8ec3f9;
  --cc-moderator-highlight: #141c3a;
  --primary-low: #444;
  --primary-medium: #ccc;
  --primary-high: #ddd;
  --primary-med-or-secondary-high: #ccc;
  --tertiary-low: #454555;
  --tertiary-medium: #707070;
  --tertiary-hover: #707070;
  --quaternary-low: #707070;
  --danger-hover: #f95a5c;
  --danger-medium: #f95a5c;
  --danger-low-mid: rgb(141 49 50 / 70%);
  --highlight-medium: #262626;
  --wiki: var(--success);
  --cc-code-keyword: #f5b656;
  --cc-code-title: #ef6b6b;
  --hljs-number: #51aeff;
  --hljs-symbol: #f76dd4;
  --hljs-string: #62efa1;
  --hljs-literal: #8ea5ff;
}
