input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.d-editor-textarea-wrapper.in-focus,
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active.accepted {
    border-color: var(--cc-link-colour);
    outline: 1px solid var(--cc-link-colour);
}

.badge-notification.new-topic::before {
    background: var(--tertiary);
}

.btn:active .d-icon {
    background-color: inherit !important;
}

.category-box::after {
    background-color: #64edc0;
}

.category-boxes .category-box .logo.aspect-image img,
.category-boxes-with-topics .category-box .logo.aspect-image img {
    filter: invert(1);
}

.custom-footer .footer-section-link-wrapper a,
.custom-footer .list span,
.header-buttons .custom-header-links .headerLink a,
.select-kit.combo-box.category-chooser .select-kit-row .category-desc {
    color: inherit;
}

.badge-notification,
.btn-danger,
.btn-danger:hover,
.btn-danger .d-icon,
.custom-footer .d-icon:hover,
.d-header-icons .d-icon,
.discourse-no-touch .btn-primary:hover,
.discourse-no-touch .btn-primary.btn-hover,
.discourse-no-touch .btn-primary:hover .d-icon,
.discourse-no-touch .btn-primary.btn-hover .d-icon,
.user-secondary-navigation .nav-stacked a:hover {
    color: #f6f6f6;
}

.badge-card.large .badge-contents,
.badge-group-list .badge-contents {
    background: inherit;
}

.badge-notification:hover,
.button-count.has-pending span {
    color: #f6f6f6;
}


.bootbox.modal .modal-footer a.btn-primary:hover {
    color: inherit;
}
ß
.btn:active,
.btn.btn-active,
.btn:active .d-icon,
.btn.btn-active .d-icon {
    background-color: #333;
    background-image: none;
    color: #f6f6f6;
}

.btn:hover,
.btn[href]:hover {
    background-color: var(--tertiary-low);
}

.btn-danger:focus,
.btn-danger:focus .d-icon {
    color: inherit;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: var(--tertiary-low);
    color: white;
}

.btn-primary:hover .d-icon,
.btn-primary:active .d-icon,
.btn-primary:focus .d-icon,
.btn-primary .d-icon {
    background: inherit !important;
    color: white;
}

.custom-footer .list span,
.custom-footer .footer-section-link-wrapper a {
    color: #aaa;
}

.d-editor-textarea-wrapper,
.select-kit.combo-box .select-kit-header,
#reply-control .mini-tag-chooser,
#reply-control #reply-title {
    background: inherit;
}

.discourse-no-touch .btn-primary:hover:disabled,
.discourse-no-touch .btn-primary:disabled {
    color: #000;
}

.discourse-no-touch .btn-danger:hover,
.discourse-no-touch .btn-danger.btn-hover,
.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
    background: var(--tertiary-hover);

    &,
    & .d-icon {
        color: #f6f6f6;
    }
}

.discourse-no-touch .d-header-icons .icon:hover,
.discourse-no-touch .d-header-icons .icon:focus {
    background: inherit;
}

.fa.accepted,
.post-controls .extra-buttons .accepted .d-button-label,
.post-controls .extra-buttons .accepted .d-icon {
    color: var(--success-hover);
}

.topic-admin-popup-menu .btn:hover,
.topic-admin-popup-menu .btn:hover .d-icon,
.post-admin-menu .btn:hover,
.post-admin-menu .btn:hover .d-icon {
    background: #222;
}

.nav-pills > li a.active:hover {
    color: var(--secondary);
}

.nav-pills > li > a:hover {
    color: inherit;
}

.names span a,
.names .fa,
.moderator .clearfix > .topic-meta-data > .names span.user-title,
.user-main .staff-counters > div,
.user-main .staff-counters > div a {
    color: white !important;
}

.open .grippie,
#reply-control .save-or-cancel .btn-primar {
    background: var(--cc-link-colour);
}

@keyframes background-fade-highlight {
    0% {
        background-color: #555;
    }
    100% {
        background-color: var(--header_background);
    }
}

#banner {
    background: repeating-linear-gradient(135deg, #141c3a 40%, #000 60%),
        repeating-linear-gradient(45deg, #141c3a 42%, #000 60%);
    background-size: 12px 18px;
    background-position: 0 0;
}

#welcome-message a:link,
#welcome-message a:hover,
#welcome-message a:visited,
#welcome-message a:active,
.arrow-svg {
    color: #d7fffe;
}